<nav class="navbar navbar-expand-lg bg-body-tertiary  "  >
    <div class="container-fluid " style="height: 20vh; background:linear-gradient(to right,steelblue,green); margin-top:0px" >
      <a class="navbar-brand fs-1 text-light" href="#">Dream Lands</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          
        </form>
      </div>
    </div>
  </nav>