<!-- <div class=" container w-75 bg-light form">
    <form action="" class="form-control">
        <input type="text" #id placeholder="Property Id"> <br>
        <input type="text" #title placeholder="Property Name"> <br>
        <input type="text" #price placeholder="Property Price"> <br>
        <input type="text" #location placeholder="Property location"> <br>
        <input type="text" #details placeholder="Property Iddetails"> <br>

        <button class="btn btn-primary" type="button" (click)="addlisting(id.value,title.value,price.value,location.value,details.value)">add listing</button>
    </form>
</div> -->